<% let element; %>
<% element = dependencies[1] %>
    <% if(element) { %>
        <div>
            <p>
                <%= element.name %>
            </p>
        </div>
<% } %>

<% element = dependencies[2] %>
    <% if(element) { %>
        <div>
            <p>
                <%= element.name %>
            </p>
        </div>
<% } %>